[submodule "lib"]
	path = app/lib
	url = https://www.github.com/appelgriebsch/electron-shell-lib
[submodule "services"]
	path = app/services
	url = https://www.github.com/appelgriebsch/electron-shell-services
[submodule "ui"]
	path = app/ui
	url = https://www.github.com/appelgriebsch/electron-shell-ui
